<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Вход в систему</title>
</head>
<body>
	<section>

		<div class="container mt-5 p-5">
			<form action="/user/save-order" method="post">
				<div class="row">

					<div class="col-md-6 p-2">


						<div class="mb-3 row">
							<p class="text-center fs-2">Введите данные получателя</p>
							<hr>
							<div class="col">
								<label>Имя</label><input type="text" name="firstName" required
									class="form-control mt-1">
							</div>
							<div class="col">
								<label>Фамилия</label><input type="text" name="lastName" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col">
								<label>Электронная почта</label><input type="text" name="email" required
									class="form-control mt-1">
							</div>
							<div class="col">
								<label>Номер телефона</label><input type="text" name="mobileNo" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col">
								<label>Адрес (улица, дом, кв.)</label><input type="text" required
									name="address" class="form-control mt-1">
							</div>
							<div class="col">
								<label>Населенный пункт</label><input type="text" name="city" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col">
								<label>Регион (область, край и т.п.)</label><input type="text" required
									name="region" class="form-control mt-1">
							</div>
							<div class="col">
								<label>Почтовый индекс</label><input type="number" required
									name="pincode" class="form-control mt-1">
							</div>
						</div>
						<!-- </form> -->

					</div>
					<div class="col-md-6 mt-2">
						<p class="text-center fs-2">Оплата заказа</p>
						<hr>
						<div class="card shadow">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Стоимость товаров :</td>
											<td>[[${orderPrice}]] &#8381;</td>
										</tr>

										<tr>
											<td>Плата за доставку :</td>
											<td>500 &#8381;</td>
										</tr>

										<tr class="border-top">
											<td>Итоговая стоимость :</td>
											<td>[[${totalOrderPrice}]] &#8381;</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
						<div class="card shadow mt-2">

							<div class="card-body">
								<!--<form action="/login" method="post">-->
								<div class="mb-3">
									<label class="form-label">Выбрат способ оплаты</label> <select required
										name="paymentType" class="form-control">
										<option>--выбрать--</option>
										<option value="COD">Наложенный платеж</option>
										<option value="ONLINE">Онлайн</option>
									</select>
								</div>

								<button class="btn bg-primary text-white col-md-12">
									<i class="fa-solid fa-cart-arrow-down"></i> Оформить заказ
								</button>

							</div>

						</div>
					</div>

				</div>
			</form>
		</div>

	</section>
</body>
</html>